.main-contents
  .main-contents__header
    .group-info
      .group-info__name
        name
      .group-info__member
        member : name
    .group-edit
      = link_to "#", class: "group-edit__btn" do
        Edit

  .main-contents__chat-list
    .chat
      .chat__info
        .chat__info--left
          name
        .chat__info--right
          2020/02/06(Thu) 20:19:19
      .chat__message
        message
    .chat
      .chat__info
        .chat__info--left
          name
        .chat__info--right
          2020/02/06(Thu) 20:21:29
      .chat__message
        message

  .main-contents__footer
    = form_for @message, url: group_message_index_path, class: "message-form" do |f|
      .message-form
        .message-form__box
          = f.text_field :chat, placeholder: "type a message", class: "message-form__box__text"
          %label{class: "message-form__box__icon"}
            = icon('fas', 'image')
            = f.file_field :image, class: "message-form__box__icon--select"
        .message-form__btn
          = f.submit "Send", class: "message-form__btn--send"