.side-bar
  .side-bar__header
    .username-box
      .username-box__name
        = current_user.name
      .username-box__icons
        = link_to new_group_path ,class: "username-box__icons--btn" do
          = icon('fas', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "username-box__icons--btn" do
          = icon('fas', 'cog')
          %span<>

  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-box
        = link_to group_message_index_path(group.id) do
          .group-box__name
            = group.name
          .group-box__chat
            まだメッセージはありません
